header {
    background-color: #ffffff;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2e2f42;
}

.logo .accent {
    color: #4d5ae5;
}

nav a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}

nav a:hover,
nav a:focus {
    color: #404bbf;
}

address {
    font-style: normal;
}

address a {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

address a:hover,
address a:focus {
    color: #404bbf;
}