h1{
   font-family: Roboto, sans-serif;
   font-style: bold;
   font-size: 56px;
   font-weight: 700;
   color: white;
   background-color: #2E2F42;
   line-height: 0.9;
   text-align: center;  
}
.hero {
    background-color: #2e2f42;
}

.hero-title {
    color: #ffffff;
}

.hero-button {
    background-color: #4d5ae5;
    color: #ffffff;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}
