#team {
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #f4f4fd;
}

.section-title {
    text-align: center;
    font-size: 36px;
}

.team-name {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.team-role {
    text-align: center;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

#team li {
    background-color: #ffffff;
}